*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/* for mobile */
.navbar{
    height: 50px;
   display: flex;
   
   background-color:rgba(0,0,0,0.8);
   width: 100%;
   position: fixed;
}



#search{
    padding: 3px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 10px;
}
/* for mobile */
.menu{
    flex:15%;
}
.logo{
    font-size: 20px;
    color: white;
    padding: 10px;
    font-family: 'Pacifico', cursive;
    text-shadow: 5px 3px 3px goldenrod;
}

.navlist{
    
    display: flex;
    padding: 20px;
    padding-left: 0px;
    list-style: none;
    width: 50%;

}
.rightnav{
    display: none;
}
.navlist a{
    
    
    
    padding-left: 7px;
    color: red;
    text-decoration: none;
    font-size: 11px;
    font-family: 'Anton', sans-serif;
    
}
.navlist a:hover{
    color: rgb(161, 151, 151);
    transition: 0.3s;
    

}
div#nav {
    width: 50%;
    transition: all 0.3s ease;
}
#burger{
    position: absolute;
    padding: 19px 15px;
    right: -11px;
    cursor: pointer;
}
.line{
    width: 20px;
   height: 3px;
   margin:3px 3px;
   background-color: white;
}
.visibility{
    opacity: 0;
}
 

.headtext{
   
    PADDING: 19%;
    text-align: center;
   
}
.big{
    display:  none;
    
    font-size: 40px;
    
    color: white;
    font-family: 'Pacifico', cursive;
    text-shadow: 5px 4px 12px goldenrod;
    
}
.small{
    color: white;
    padding: 10px;
    padding-top:140px;
    font-size: 25px;
    font-family: 'Satisfy', cursive;
    text-shadow: 4px 3px 2px red, 6px 4px 0px black;
animation: flicker 5s linear 3s forwards;
animation-iteration-count: infinite;
}
}





.subtext{
    font-size: 40px;
    text-align: left;
    padding-top: 20px;
    padding-left: 50px;
    margin-left: 52%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} 
.background {
    background: rgba(0,0,0,0.3) url(../images/bgmobile.jpg);
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-attachment:scroll;
    
}
.slide-head{
    padding: 10px;
    margin-bottom: 10px;
    box-shadow:0 2px 4px 0 #b10b5f;
    text-align: center;
    
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* designing cards */
.many{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.card{
    display: flex;
    flex-direction: column;
    width: 261px;
    height: 300px;
    box-shadow: 10px 20px 13px 0px rgb(3 1 1  / 20%);
    padding: 14px;
    border-radius: 7px;
    transition: 0.3s;
   

}
.card .card-img:hover{
    box-shadow: 6px 18px 13px 8px rgb(0 0 0 / 40%);
    cursor: pointer;
    transition: 0.3s;

}
.card-img{
    width: 100%;
} 
.card img{
    width:233px;
    height: 241px;
}


 
.desc{
    text-align: center;
   
    font-size:17px ;
    color: white;
    padding: 8px;
    background-color: #b10b5f;
    font-weight: bold;
    font-family: sans-serif;
    
}
.flex-container{
    
    display: flex;
    flex-direction: column;
    
}
.videos a:hover{
      color: crimson;
}
    

.half1{
    /* flex: 40%; */
    color: white;
    padding: 25px;

}
/* .half2{
   flex: 60%;
} */
.bigtext{
    padding: 8px;
    font-size: 27px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkgoldenrod;
    border: 2px solid darkgoldenrod;
    box-shadow: 0 2px 3px 2px darkgoldenrod;}

.subhead{
    padding: 8px;
    padding-top: 26px;
    font-family:'Satisfy';
    font-size: 25px;
    color: deeppink;
}
.smalltext{
    padding: 8px;
    font-size: 17px;
    font-family:cursive;
    word-wrap: break-word;
}
.bg{
    background: rgba(0,0,0,0.8) url('../images/shuffle bg.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-attachment:scroll;

}
.videos{
    padding: 10px;
    padding-top: 0px;

}

.vid{
    padding: 1px 1px;
    width: 170px;
   
}
.category{
    padding: 20px;
    font-size: 30px;
    font-family:satisfy;
    text-align: center;
    color:deeppink;
   
}
.flex-container2{
    display: flex;
    
    flex-wrap: wrap;
    justify-content: center;
}

.white .half1 {
    color: black;
}
.white .category{
    color: black;
}
.white a:hover{
    color: blue;
}
.h1{
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}
.h2{
    padding-top: 10px;
    font-size: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
}
.contact-details{
   
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.contact-details #about{
    background-color: rgb(114, 5, 5);
    color: white;
    padding: 30px;
}
.forms{
    text-align: center;
    display: block;
}
#contact{
    text-shadow: 1px 1px 3px #ca0909;
    
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.contact-me{
    
   display: inline-block;
   margin: auto;
    text-align: left;

}



.details{
    
    padding: 6px;
    border: 1px solid #ca0909;
    border-radius: 5px;
}
.det{
   
    box-shadow: 1px 4px 4px 0 #ca0909;
}

#message{
    margin-top: 20px;
    padding: 5px;
    border: 1px solid #ca0909;
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 #ca0909;
}
 button{
    padding: 8px 15px;
    margin-top: 12px;
    border: 5px solid crimson;
    background-color: crimson;
    color: white;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button:hover{
    background-color:white;
    color:crimson;
}
footer{
    display: block;
    text-align: center;
    background-color: rgb(76 3 3);
    color: rgb(243 238 238);
    padding: 30px;
}
footer>p{
    padding: 4px;
}
footer>p>a{
   
   color: orange;

}
footer>p>a :hover{
    color: rgb(240, 180, 158);
    transition: 0.2s;
}

@keyframes flicker {
    0%{filter: blur(1px) brightness(1);}
    3%{filter: blur(1px) brightness();}
    4%{filter: blur(1px) brightness(1);}
    5%{filter: blur(1px) brightness(0);}
    6%{filter: blur(1px) brightness(1);}
    7%{filter: blur(1px) brightness(0);}
    8%{filter: blur(1px) brightness(1);}
    9%{filter: blur(1px) brightness(0);}
    10%{filter: blur(1px) brightness(1);}
    20%{filter: blur(1px) brightness(0);}
    30%{filter: blur(1px) brightness(1);}
    40%{filter: blur(1px) brightness(0);}
    50%{filter: blur(1px) brightness(1);}
    60%{filter: blur(1px) brightness(0);}
    70%{filter: blur(1px) brightness(1);}
    80%{filter: blur(1px) brightness(0);}
    90%{filter: blur(1px) brightness(1);}
    95%{filter: blur(1px) brightness(0);}
    100%{filter: blur(1px) brightness(1);}    
    }



   

  @media screen and (min-width: 650px) {
      
    .vid{
        width: 300px;
        height: 206px;
    }
    .background{
        background: rgba(0,0,0,0.3) url(../images/bgnew.jpg);
        background-size:100% 100%;
        background-repeat: no-repeat;
        background-blend-mode: darken;
        background-attachment:scroll;


    }
    
    .big{
        
        display: inline-block;
        font-size: 60px;
        
        color: white;
        font-family: 'Pacifico', cursive;
        text-shadow: 5px 4px 12px goldenrod;
    }
    .small{
        color: white;
        padding: 10px;
        font-size: 30px;
        font-family: 'Satisfy', cursive;
    }
    .flex-container{
        flex-direction: row;
    }
    .half1{
        flex:40%;
    }
    .half2{
        flex: 60%;
    }
    .flex-container2{
        flex: 25%;
        justify-content: center;
    }
    .half1{
        padding:42px;
    }

    .videos{
        padding: 12px 20px;

    }
    .bigtext{
        padding: 6px;
        font-size: 25px;
    }
    .subhead{
        font-size: 18px;
        padding: 6px;
    }
    .smalltext{
        padding:6px;
        font-size: 17px;
    }
    
    .logo{
        padding-left: 12px;
        font-size: 30px;
        position: absolute;
        top: -17px;
    }
    .navbar{
        height: 80px;
    }

     /* #nav{
        position: absolute;
        right: -16%;
         
     }  */
     .navlist {
         padding-left: 20%;
         display: inline-flex;
         padding: 7px;
       
     } 
     .navlist a{
         display: inline-block;
         padding-right: 60px;
         padding-top :40px;
         font-size: 22px;
         
             }
             .visibility{
                 opacity: 1;
             }
    
    #burger{
        display: none;
    }
    .h2{
        font-size: 20px;
    }
    .rbtn{
        padding: 2px 10px;

    }
    .rightnav{
        display: inline;
        position: absolute;
        width: auto;
        left: 77%;
        padding-top:9px ;
    }
    }
  
  



